<div class="container mx-auto flex flex-col gap-5">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <% for(let i in result) { %>
            <a href="/<%= type %>/<%= result[i].id %>" class="block">
                <div class="flex flex-col bg-white rounded-lg shadow-md hover:shadow-sm p-6 transition duration-300 ease-in-out transform h-full">
                    <h2 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900"><%= result[i].name %></h2>
                    <p class="block mb-4 font-sans text-base antialiased font-light leading-relaxed text-inherit"><%= result[i].description %></p>
                    <div class="mt-auto">
                        <% if(result[i].ticker_symbol) { %>
                        <div class="self-start inline-block bg-blue-500 text-white py-2 px-4 rounded-full">
                            <%= result[i].ticker_symbol %>
                        </div>
                        <% }%>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</div>
