<div class="container mx-auto flex flex-col gap-5">
    <div class="text-3xl font-thin"><%= type == "index" ? "Indeces" : type == "security" ? "Securities" : type == "security-type" ? "Security Types" : "Category Not Found" %></div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <% for(let i in result) { %>
            <a href="/<%= type %>/<%= result[i].id %>" class="block">
                <div class="flex flex-col bg-white rounded-lg shadow-md hover:translate-y-0.5 hover:shadow-sm p-6 transition duration-300 ease-in-out transform h-full">
                    <h2 class="text-xl font-semibold text-gray-800 mb-2"><%= result[i].name %></h2>
                    <p class="text-gray-600 mb-4 flex-grow"><%= result[i].description %></p>
                    <% if(result[i].ticker_symbol) { %>
                    <div class="self-start inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded-full">
                        <%= result[i].ticker_symbol %>
                    </div>
                    <% }%>
                </div>
            </a>
        <% } %>
        <a href="/<%= type %>/new" class="block">
            <div class="flex flex-col justify-between bg-slate-100 rounded-lg shadow-md hover:shadow-sm hover:translate-y-0.5 p-6 transition duration-300 ease-in-out transform h-full">
                <h2 class="text-xl font-semibold text-gray-800 mb-2">Add <%= type%></h2>
                <p class="text-gray-600 mb-4 flex-grow">Click me to add a new <%= type %> to expand your portfolio</p> 
                <div class="self-end text-slate-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>  
                </div>
            </div>
        </a>
    </div>
    <% if (!result.length) { %>
    <div class="bg-red-500 rounded-lg py-2 px-4 text-white">
        No securities added to this index yet!
    </div>
    <% } %>
</div>
